<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDi5hVUe_L16i94Jl0P7qnWeSESC4kxwXw</string>
	<key>GCM_SENDER_ID</key>
	<string>971149445779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesapp</string>
	<key>PROJECT_ID</key>
	<string>movies-f3e5d</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-f3e5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971149445779:ios:1b6c2e0d90db5e4557db66</string>
</dict>
</plist>